<!DOCTYPE html>
<html>
<head>
	<title>Open Access Button Push Notification</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script type="text/javascript" src="zepto.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body> 
	<div id="container">
		<%= yield %>
	</div>
</body>
</html>
